@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.__container{
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}
.__container1{
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}
.__container2{
  max-width: 500px;
  margin: auto;
  padding: 0 20px;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}
.container1{
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.container2{
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
}
#navbar a.active {
  color: #0097B2;
  /* display: block;
    background:#3399cc ;
    color: #fff;
        
    border-radius: 5px;
    margin: 0; */
}
.container-family{
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.__grid{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto;
}
@media (max-width: 640px) and (min-width: 500px){
  .__grid{
    grid-template-columns: 1fr;
  }
  
} 

@media (max-width: 1023px) and (min-width: 768px){
  .container-family{
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
  
}
